.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin: -8px;
    margin-right: -150px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
   }
  
  .navbar a:hover {
    background-color: #000;
  }
  .left,.middle,.right{
      padding: 12px;
    color: white;
    text-decoration: none;
  }
  .left{
      background-color: #555;
      float: left;
      border: none;
      cursor: pointer;
      padding: 14px;
  }
  .left:hover{
      background-color:black
  }
   .middle{
    padding-left: 49px;
    padding-right: 80px;
  }
.right{
   background-color: #555;
      border: none;
      cursor: pointer;
      margin-bottom: -20px;
      padding: 14px;
      color: aliceblue;
      float: right;
  }
  .search-bar{
    float: left;
    margin: 8px 0 8px 8px;
    padding-left: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
    margin-left: 62px;
    border: 1px solid white;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")no-repeat white left;
  }
  .main{
      margin: auto;
  }
  