.buy2hand-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.buy2hand-container-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy2hand-container-content-home{
  text-decoration: none;
  color: black;
}
.buy2hand-container-content-login{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.buy2hand-container-content-search{
    margin-left: 50px;
    outline: none;
    border: none;
}